//-------------------------------
// おまじない
//-------------------------------

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior-y: none;
    overflow-x: hidden;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}