//-----------------------------------
// Color
//-----------------------------------
$primary_white: #ffffff;
$primary_black: #222222;
$primary_green: #a5d7d2;
$primary_yellow: #fee8b2;
$primary_grey: #f4f3f4;
$primary_red: #fd9d9e;

$secondary_yellow: #f1c962;
$secondary_grey: #8e8e8e;


//-----------------------------------
// Body
//-----------------------------------
$body-bg: $primary_white;
$sub-color_blue: #b3ddd8;
$sub-color_red: #f7a7a7;
$sub-color_yellow: #f1cf62;

$login-bg: #f5f5f5;
$register: #fcebb7;

$quotation-bg: #e7e7e7;

$font-color_b: $primary_black;
$font-color_w: $primary_white;

//-----------------------------------
// Typography
//-----------------------------------
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//-----------------------------------
// positive-color, negative-color
//-----------------------------------
$positive: $primary_green;
$negative: $primary_red;
$neutral:  #f2f1f0;

//-----------------------------------
// theme-color [Login]
//-----------------------------------
$login_color: $primary_green;

//-----------------------------------
// theme-color [Register]
//-----------------------------------
$register_color: $primary_yellow;


//-----------------------------------
// UI
//-----------------------------------
// border-radius
$common_radius: 6px;
$common_btn_height: 38px;
$common_btn_width: 140px;