// Body -
$body-bg: #ffffff;
$sub-color_blue: #b3ddd8;
$sub-color_red: #f7a7a7;
$sub-color_yellow: #f1cf62;

$login-bg: #f5f5f5;
$register: #fcebb7;

$quotation-bg: #e7e7e7;

$font-color_b: #222222;
$font-color_w: #ffffff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
