@import url(https://fonts.googleapis.com/css?family=Nunito);
@charset "UTF-8";
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
  overflow-x: hidden;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.layout {
  height: 56px;
  border-bottom: 1px solid #222;
  /* 下矢印 */
  /* floatクリア */
}
.layout-flex {
  display: flex;
  position: relative;
  margin-top: 8px;
}
.layout-title {
  position: absolute;
  top: 0.25em;
  left: 2em;
  font-size: 1.75em;
  font-weight: bold;
  margin-left: 1em;
}
.layout-circle-container {
  position: relative;
  margin: 0 0 0 1.5em;
}
.layout-circle {
  width: 40px;
  height: 40px;
  background-color: #b3ddd8;
  border-radius: 50%;
}
.layout-circle_sm {
  position: absolute;
  background-color: #ffffff;
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.layout-search {
  position: absolute;
  top: 0.35em;
  right: 10em;
  background-color: #f5f5f5;
  padding: 0.5em 1em;
  border-radius: 30px;
}
.layout-search input {
  background-color: #f5f5f5;
  outline: none;
  border: none;
}
.layout .menu {
  position: absolute;
  right: 1em;
  height: 50px;
  max-width: 1000px;
  margin: 0 auto;
}
.layout .menu > li {
  float: left;
  height: 50px;
  line-height: 50px;
}
.layout li {
  width: 120px;
  list-style: none;
  background-color: #ffffff;
  padding: 0 0.5em;
}
.layout li a {
  text-decoration: none;
}
.layout .menu > li a {
  display: block;
  color: #222222;
}
.layout .menu > li a:hover {
  color: #999;
}
.layout ul.menu__second-level {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.layout .menu > li:hover {
  color: #999;
  transition: all 0.5s;
}
.layout .menu__second-level li i {
  margin-left: 1em;
}
.layout .menu__second-level li a:hover {
  color: #999;
}
.layout .init-bottom {
  position: relative;
}
.layout .init-bottom:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 1.25em;
  left: 2em;
  width: 6px;
  height: 6px;
  margin: 0 0 0 15px;
  border-right: 1px solid #222222;
  border-bottom: 1px solid #222222;
  transform: rotate(45deg);
}
.layout .menu:before,
.layout .menu:after {
  content: " ";
  display: table;
}
.layout .menu:after {
  clear: both;
}
.layout .menu {
  *zoom: 1;
}
.layout .menu > li.menu__single {
  position: relative;
}
.layout li.menu__single ul.menu__second-level {
  position: absolute;
  top: 40px;
  left: -0.05em;
  transition: all 0.2s ease;
}
.layout li.menu__single:hover ul.menu__second-level {
  top: 50px;
  visibility: visible;
  opacity: 1;
}
.layout li i {
  display: inline;
  margin-left: 2em;
}

/************************************/
/*       ログイン・新規登録ページ       */
/************************************/
.entrance {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.login,
.register,
.reset {
  width: 904px;
  margin: 0 auto;
}
.login .title,
.register .title,
.reset .title {
  text-align: center;
  font-weight: bold;
  background-color: #f5f5f5;
  padding-bottom: 30px;
  font-size: 1.9em;
}
.login .attention,
.register .attention,
.reset .attention {
  text-align: center;
  font-size: 0.8em;
}
.login__wrapper,
.register__wrapper,
.reset__wrapper {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 48px 142px 50px;
  position: relative;
}
.login__wrapper .other_entrance,
.register__wrapper .other_entrance,
.reset__wrapper .other_entrance {
  position: absolute;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 600;
  border-radius: 6px;
  padding: 11px 37px;
  width: 132px;
  right: 40px;
}
.login__wrapper .other_entrance:hover,
.register__wrapper .other_entrance:hover,
.reset__wrapper .other_entrance:hover {
  opacity: 0.8;
}
.login__wrapper .parallel_position,
.register__wrapper .parallel_position,
.reset__wrapper .parallel_position {
  right: 190px;
}
.login__wrapper .register_color,
.register__wrapper .register_color,
.reset__wrapper .register_color {
  background-color: #fee8b2;
}
.login__wrapper .login_color,
.register__wrapper .login_color,
.reset__wrapper .login_color {
  background-color: #a5d7d2;
}
.login__wrapper .form_container,
.register__wrapper .form_container,
.reset__wrapper .form_container {
  margin-top: 66px;
}
.login__wrapper .field,
.register__wrapper .field,
.reset__wrapper .field {
  max-width: 622px;
  margin: 0 auto 24px;
}
.login__wrapper .field__common input,
.register__wrapper .field__common input,
.reset__wrapper .field__common input {
  display: block;
  border: 1px solid;
  font-size: 16px;
  height: 66px;
  width: 100%;
  padding: 0 24px;
}
.login__wrapper .field__common .forget_pass,
.register__wrapper .field__common .forget_pass,
.reset__wrapper .field__common .forget_pass {
  display: inline-block;
  font-size: 0.7em;
  padding: 8px 0 0;
}
.login__wrapper .field__common .forget_pass:hover,
.register__wrapper .field__common .forget_pass:hover,
.reset__wrapper .field__common .forget_pass:hover {
  text-decoration: underline;
}
.login__wrapper .field .common__label,
.register__wrapper .field .common__label,
.reset__wrapper .field .common__label {
  display: block;
  font-size: 0.7em;
  margin-bottom: 10px;
}
.login__wrapper .entrance__field,
.register__wrapper .entrance__field,
.reset__wrapper .entrance__field {
  padding-top: 26px;
  margin-bottom: 0;
  text-align: center;
}
.login__wrapper .entrance__field .btn,
.register__wrapper .entrance__field .btn,
.reset__wrapper .entrance__field .btn {
  display: inline-block;
  font-size: 1.7em;
  font-weight: bold;
  width: auto;
  border-radius: 6px;
  padding: 18px 0;
  width: 310px;
}
.login__wrapper .entrance__field .btn:hover,
.register__wrapper .entrance__field .btn:hover,
.reset__wrapper .entrance__field .btn:hover {
  opacity: 0.8;
}
